.li-logo {
  color: #065db4eb;
  font-weight: 700;
  font-size: 1.7rem;
  margin-left: 1.8rem;
  text-decoration: none;
}
.linkedin-icon {
  margin-bottom: -5px;
  margin-left: 2px;
}
@media only screen and (max-width: 600px) {
  .li-logo {
    font-weight: 600;
    font-size: 1.8rem;
  }
  .linkedin-icon {
    margin-bottom: -2px;
  }
}
